#starship-list {
  position: absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  list-style-type: none;
}

.starship-list-item {
  cursor: pointer;
  color: red;
  float: left;
  margin: 10px 10px 10px 10px;
  border: 1px solid black;
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  min-width: 250px;
  min-height: 150px;
  text-align: center;
  line-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
}

.starship-list-item:hover {
  border: 1px solid blue;
}
