#splash-master {
  position: fixed;
  min-width: 600px;
  min-height: 400px;
  background-color: black;
  width: 100%;
  height: 100%;
}

#splash-scanlines {
  position: fixed;
  background-repeat: repeat;
  background-position: left;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: 9;
  pointer-events: none;
}

#starship-list {
  position: absolute;
  top:90px;
  left:100px;
  right:100px;
  bottom:100px;
  list-style-type: none;
  /*padding: 10px;*/
  margin: 0 auto;
  min-width: 600px;
  min-height: 400px;
  overflow: auto;
  opacity: 1;
}

#left-panel {
  position: fixed;
  top: 0;
  left: 0;
  width:100px;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: right;
  background-size:cover;
  z-index: 10;
}

#right-panel {
  position: fixed;
  top: 0;
  right: 0;
  width:100px;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: left;
  background-size:cover;
  z-index: 10;
}

#top-panel {
  position: fixed;
  top: 0;
  height: 100px;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position:bottom;
  background-size:cover;
  z-index: 10;
}

#bottom-panel {
  position: fixed;
  bottom: 0;
  height: 100px;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: top;
  background-size:cover;
  z-index: 10;
}

#home-button {
  position: fixed;
  bottom: 15px;
  left: 45%;
  z-index: 11;
  cursor: pointer;
  content: url('/assets/home_button_unpressed.png');
  box-shadow: 3px 3px 2px 1px;
}

#home-button:hover {
  box-shadow: 0px 0px 0px 0px;
  bottom: 13px;
  left: 45.5%;
}

.starship-list-item {
  cursor: pointer;
  color: red;
  float: left;
  margin: 10px 10px 10px 10px;
  /*border: 1px solid #1e74ff;*/
  padding: 30px 30px 30px 30px;
  border-radius: 5px;
  min-width: 250px;
  min-height: 150px;
  text-align: center;
  line-height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-origin: content-box;
  opacity: 0.5;
}

.starship-list-item:hover {
  /*border: 1px solid blue;*/
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.5s;
}

.starship-list-item:last-of-type {
  margin-bottom: 60px;
}
